.content {
    position: relative;
    top: 65px;
    background-size: cover;
    background-image: url("../image/bgt.jpg");
    padding-bottom:50px;
}


.content .banner {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 44% 0;
}

.row .pro_l {
    padding: 0;
    background: #fff;
}

.row .pro_l img {
    width: 100%;
    box-shadow: 2px 2px 2px 1px #aaa;
}

.row .pro_r {
    padding-right: 0;
    padding-left:0;
}

.row .pro_r .text-top {
    font: 800 15px "Microsoft Yahei";
    color: #cc5e18;
    line-height: 23px;
}

.row .pro_r .title {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 0;
    color: #5a281b;
    font-weight: 600;
}

.row .pro_r i {
    display: inline-block;
    border-bottom: 2px solid #f5a63a;
    width: 25%;
    display: block;
    margin: 15px 0 6px 0;
}

.row .pro_r p {
    text-indent: 25px;
    color: #5a281b;
    font-size: 12px;
    font-family: "PingFang SC";
    line-height: 20px;
    font-weight: 600;
/*    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
*/}

.bake .model1 .character,
.bake .model2 .character {
    padding: 20px 20px;
    /*background:red;*/
    text-align: center;
}

.bake .model1 .character .text-top,
.bake .model2 .character .text-top {
    height: 20px;
    line-height: 24px;
    margin-top:25px;
}

.bake .model1 .character i,
.bake .model2 .character i {
    width: 10%;
    margin: 0 auto 10px auto;
    margin-left:49%;
}

.bake .model1 .character .pro_r .about_content,
.bake .model2 .character .pro_r .about_content {
    line-height: 26px;
/*    -webkit-line-clamp: 3;
*/}

.bake .model1 .three .row{
    padding-left:15px;
    padding-right:15px;
}

.bake .model1 .three .img {
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}


.bake .model1 .three .img img{
    width: 100%;
    height:100%;
    position: relative;
}
 .bake .model1 .three #playbtn{
    position: absolute;
    color:red !important;
    background:rgba(0,0,0,0.4);
    width:50px;
    height:50px;
    border-radius:50%;
    line-height:50px;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
    text-align:center;

}
 .bake .model1 .three #playbtn .glyphicon{
    color:#fff;
    font-size:30px;
    height:50px;
    line-height:46px;
}


.bake .model1 .more{
    width:100%;
    position: absolute;
    display: block;
    text-align:center;
    color:#5a281b;
    font-size:12px;
    z-index:999;
    background: url("../image/bgt.jpg");
    margin-top:-15px;
    line-height:35px;


}
.bake .model1 .more img{
    width:12px;
    height:12px;
}

.bake .model1 .more span{
    color:#fff;
    position: relative;
    z-index:333;
}
.bake .model1 .more span:before{
    content:"";
    width:12px;
    height:12px;
    background:#000;
    position: absolute;
    left:0;
    top: 0;

}




/*轮播图部分*/
 .swiper-container {
        width: 100%;
        height: 230px;
        padding: 25px;
        background-image: url("../image/bake_bg.jpg");
    }
    .swiper-slide {
        border: 5px solid #fff;
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background: #fff;
        z-index: 9999999;
        /*padding-left:0;*/
        padding: 15px;
        background-clip: content-box;
        background-repeat: no-repeat;
    }


    .swiper-slide .small {
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height: 35%;
        background: #fff;
    }

    .swiper-slide .small .title {
        height: 20px;
        font: 700 14px "Microsoft Yahei";
        color: rgba(0, 0, 0, 1);
        position: absolute;
        top: 12px;
        left: 0;
        line-height: 14px;
    }

    .swiper-slide .small .price {
        position: absolute;
        left: 0;
        bottom: -1px;
        font: 700 14px "Microsoft Yahei";
    }

    .swiper-slide .small .enter {
        position: absolute;
        right: -6px;
        bottom: -4px;
        padding:2px;
        height:22px;
        line-height:16px;
        border: 1px solid #aaa;
        border-radius: 5px;
        color: rgba(0, 0, 0, 1);
        font-size: 12px;
        transform: scale(0.8, 0.80);
        transform-origin: 0 0;
        -webkit-transform: scale(0.8, 0.80);
        /* Safari 和 Chrome */
        -webkit-transform-origin: 0 0;
        /* Safari 和 Chrome */
        /*transform: translateX(-50%);*/
    }


