
/*首页内容部分开始*/

.content {
    position: relative;
    top: 65px;
    background-size: cover;
    background-image: url("../image/bgt.jpg");
}


/*首页banner部分开始*/

.content .banner {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 44% 0;
}

.content .banner a {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
}

.content .banner a.tu_l {
    transform: translate(0, -50%);
}

.content .banner a.tu_r {
    right: 50%;
    transform: translate(100%, -50%);
}

.content .banner a img {
    width: 80%;
}

.content .banner a p {
    font: 800 18px "Microsoft Yahei";
    color: #fff;
    height: 20px;
    padding-top: 4px;
    line-height: 36px;
}

.content .banner a img.right {
    width: 94%;
}

.content .banner a i {
    display: inline-block;
    border-bottom: 3px solid #F4A63C;
    width: 28%;
}



.row .pro_r {
    padding-right: 0;
    padding-left:0;
}

.row .pro_r .text-top {
    font: 800 15px "PingFang-SC";
    color: #cc5e18;
    line-height: 23px;
}

.row .pro_r .title {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 0;
    color: #5a281b;
    font-weight: 600;
}

.row .pro_r i {
    display: inline-block;
    border-bottom: 2px solid #f5a63a;
    width: 25%;
    display: block;
    margin: 15px 0 6px 0;
}

.row .pro_r p {
    text-indent: 25px;
    color: #5a281b;
    font-size: 12px;
    font-family: "PingFang SC";
    line-height: 20px;
    font-weight: 600;
/*    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
*/}

.model2 .character .subhead{
     font-size:16px;
     font-family:"SimSun";
     color:#613429;
}

.brand .model1 .character,
.brand .model2 .character,
.brand .model3 .character{
    padding: 20px 20px;
    /*background:red;*/
    text-align: center;
}

.brand .model1 .character .text-top,
.brand .model2 .character .text-top,
.brand .model3 .character .text-top{
    height: 20px;
    line-height: 24px;
    /* margin-top:25px; */
}

.brand .model1 .character i,
.brand .model2 .character i,
.brand .model3 .character i{
    width: 10%;
    margin: 0 auto 10px auto;
    margin-left:49%;
}

.brand .model1 .character .pro_r .about_content,
.brand .model2 .character .pro_r .about_content,
.brand .model3 .character .pro_r .about_content{
    line-height: 26px;
/*    -webkit-line-clamp: 3;
*/}

















  .swiper-container {
            width: 100%;
            height: 230px;
            padding: 25px;
        }

    .model3 .swiper-slide {
        border: 5px solid #fff;
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        /* background: #fff; */
        z-index: 9999999;
        /*padding-left:0;*/
        padding: 20px;
        /* background:url(../image/brand5.png); */
        /* background-repeat: no-repeat !important; */
        /* background-size:cover; */
    }


        .swiper-slide .small {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 52%;
            background: #fff;

        }

        .swiper-slide .small .title {
            height: 20px;
            font: 600 12px "Microsoft Yahei";
            color: #5a281b;
            position: absolute;
            top: 8px;
            left: 4px;
            line-height: 14px;
        }

        .swiper-slide .small .map {
            position: absolute;
            font: 500 12px "Microsoft Yahei";
            color: #5a281b;
            top: 35%;
            left: 0;
        }

        .swiper-slide .small .tel {
            position: absolute;
            padding: 2px;
            /* height: 22px;
            line-height: 16px; */
            color: #5a281b;
            font-size: 12px;
            top: 73%;
            left: 0;
        }

        .small span {
            line-height: 20px;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23F5A63A'%2F%3E%3C%2Fsvg%3E");
            left: auto;
        }
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23F5A63A'%2F%3E%3C%2Fsvg%3E");            right: -10px;
            right: auto;
        }
        .swiper-button-prev,
        .swiper-button-next{
            background-size: 30px 30px;    
            margin: -30px -10px;
        }
        .model1 .map img,
        .model1 .tel img{
            width:16px;
            height:16px;
            margin-left:-2px;
            /* vertical-align: top; */
        }

        /* 模式1轮播图样式 */
        .model1 .swiper-container {
            background: url("../image/brand_bg1.jpg") center no-repeat;
            background-size: cover;
        }

        .model1 .swiper-slide,
        .model1 .swiper-slide-active{
            /* width:80% !important; */
            /* left:10%; */
            /* height:100%; */
            border:none;
            left:50%;
            transform:translateX(-50%);
        }
        
        .model1 .small{
            padding-left:5px;
        }
        .model1 .small p{
            font:700 14px "MicrosoftYaHei-Bold";
            color: #cc5e17;
            height: 20px;
            line-height: 45px;
            text-align:left;
            /* margin-left:3px; */
            
        }
        .model1 .small i{
            display: block;
            width: 20%;
            height:2px;
            background:#f5a63a;
            margin-top:15px;
            /* margin-left:3px; */
        }

        .model1 .swiper-slide .small {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 30%;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .model1 .swiper-button-next,
        .model1 .swiper-container-rtl .swiper-button-prev {
            background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");

            left: auto;
        }
        .model1 .swiper-button-prev,
        .model1 .swiper-container-rtl .swiper-button-next {
            background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");            right: -10px;
            right: auto;
        }


        /* 模式2轮播图 */
        .model2 .swiper-container{
            padding:10px 0;
        } 
        .model2 .swiper-slide img{
            width:100%;
            
        }



        
        /* 模式3轮播图 */
        .model3 .swiper-container {
            height:200px;
            padding-top:0;
        }
        .model3 .swiper-slide{
            height:160px;
        }
        .model3 .small{
            display: block;
            top:0;
            height:52%;
        }
        .model3 .small .time{
            height: 20px;
            font: 600 12px "Microsoft Yahei";
            color: #5a281b;
            position: absolute;
            top: 8px;
            left: 4px;
            line-height: 14px;
            color:#5a281b;
        }
        .model3 .small span{
            position: absolute;
            right:0;
            top:12%;
            color:#5a281b;
            font-family:"Microsoft Yahei";
            font-size:12px;
        }
        .model3 .small p{
            position: absolute;
            top:45%;
            font:600 12px "PingFang SC";
            color:#333;
            text-align:left;
        }
        /* .model3 .swiper-button-prev,
        .model3 .swiper-button-next{
            background-size: 30px 30px;    
            margin: -10px -10px;
        } */







