
/*首页内容部分开始*/

.content {
    position: relative;
    top: 65px;
    background-size: cover;
    background-image: url("../image/bgt.jpg");
}


/*首页banner部分开始*/

.content .banner {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 44% 0;
}

.content .banner a {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
}

.content .banner a.tu_l {
    transform: translate(0, -50%);
}

.content .banner a.tu_r {
    right: 50%;
    transform: translate(100%, -50%);
}

.content .banner a img {
    width: 80%;
}

.content .banner a p {
    font: 800 18px "Microsoft Yahei";
    color: #fff;
    height: 20px;
    padding-top: 4px;
    line-height: 36px;
}

.content .banner a img.right {
    width: 94%;
}

.content .banner a i {
    display: inline-block;
    border-bottom: 3px solid #F4A63C;
    width: 28%;
}

/*首页banner部分结束*/


/*首页商品介绍部分开始*/

.product {
    background-image: url("../image/bgt.jpg");
    background-size: cover;
    /*padding-bottom:20px;*/
    padding: 3% 0;
}

.product .row {
    /*width: 100%;*/
    margin: 15px;
}

.row .pro_l {
    padding: 0;
    background: #fff;
}

.row .pro_l img {
    width: 100%;
    box-shadow: 2px 2px 2px 1px #aaa;
}

.row .pro_r {
    padding-right: 0;
}

.row .pro_r .text-top {
    font: 800 15px "Microsoft Yahei";
    color: #cc5e18;
    line-height: 23px;
}

.row .pro_r .title {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 0;
    color: #5a281b;
    font-weight: 600;
}

.row .pro_r i {
    display: inline-block;
    border-bottom: 2px solid #f5a63a;
    width: 25%;
    display: block;
    margin: 15px 0 6px 0;
}

.row .pro_r p {
    color: #5a281b;
    font-size: 12px;
    font-family: "PingFang SC";
    line-height: 20px;
    font-weight: 600;
/*    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
*/}


/*首页商品介绍部分结束*/


/*首页内容部分结束*/
