/*产品介绍部分内容开始*/


/*共用的内容部分*/


/*和首页的共用*/

.content {
    position: relative;
    top: 65px;
    background-size: cover;
    background-image: url("../image/bgt.jpg");
}


.content .banner {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 44% 0;
}

/*introduce中共用的*/

.row .pro_l {
    padding: 0;
    background: #fff;
}

.row .pro_l img {
    width: 100%;
    box-shadow: 2px 2px 2px 1px #aaa;
}

.row .pro_r {
    padding-right: 0;
}

.row .pro_r .text-top {
    font: 800 15px "Microsoft Yahei";
    color: #cc5e18;
    line-height: 23px;
}

.row .pro_r .title {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 0;
    color: #5a281b;
    font-weight: 600;
}

.row .pro_r i {
    display: inline-block;
    border-bottom: 2px solid #f5a63a;
    width: 25%;
    display: block;
    margin: 15px 0 6px 0;
}

.row .pro_r p {
    color: #5a281b;
    font-size: 12px;
    font-family: "PingFang SC";
    line-height: 20px;
    font-weight: 600;
/*    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
*/}


/*模块1样式单独*/

.introduce .model1 .character {
    padding: 20px 20px;
    /*background:red;*/
    text-align: center;
}

.introduce .model1 .character .text-top {
    height: 20px;
    line-height: 24px;
}

.introduce .model1 .character i {
    width: 10%;
    margin: 0 auto 10px auto;
    /*margin-bottom:10px;*/
}

.introduce .model1 .character .pro_r .about_content {
    line-height: 26px;
/*    -webkit-line-clamp: 2;
*/}

.introduce .model1 .nine {

}

.introduce .model1 .nine .text {
    background: #cea675;
    padding: 4px 10px;
    position: relative;
}

.introduce .model1 .nine .text .title {
    color: #5a281b;
    font: 1000 14px "PingFang SC";
}

.introduce .model1 .nine .text i {
    border-bottom: 1px solid #693927;
    width: 22%;
    display: block;
    margin: 1px 0 4px 0;
}

.introduce .model1 .nine .text p {
    color: #5a281b;
/*    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
*/    -moz-binding: url('ellipsis.xml#ellipsis');

    width: 100%;
    font-size: 12px;
    font-weight: 550;
    font-family: "PingFang SC";
    line-height:14px;
/*    transform: scale(0.90);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9, 0.90);
    -webkit-transform-origin: 0 0;
    margin-left:6%;
*/}

.introduce .model1 .nine .text .details {
    /*display: block;*/
    position: absolute;
    height: 20.5px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #5a281b;
    bottom:2px;
    padding:2px;
    font-size: 12px;
    font-weight: 500;
    font-family: "PingFang SC";
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
    right:8%;
        padding-left:5px;

}
.introduce .model1 .nine .text .details span {
    /*letter-spacing: 10px;*/
    font-size:12px;
/*    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
*/
    line-height:15px;

}

.introduce .model1 .nine .text .details a {
    display: block;
    font: 550 12px "PingFang SC";
    color: #5a281b;
    height: 20px;
    line-height: 11px;
}

.introduce .model1 .nine .img {
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
}

.introduce .model1 .nine .img img {
    width: 100%;
    margin: auto;
}


.introduce .model2 .character {
    padding: 20px 5px 20px 20px;
}

.introduce .model2 .character .pro_l {
    /*                padding:20px 20px;
*/
    background: none;
}

.introduce .model2 .character .pro_r {
    padding-right: 20px;
}


.introduce .model2 .character .pro_l img {
    box-shadow: none;
    width: 80%;
}

.introduce .model2 .character .pro_r p {
/*    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
*/}

.introduce .model2 .character .pro_r i {
    margin-top: 0;
    width: 15%;
}


.introduce .model2 .row {
    overflow: hidden;
}


.introduce .model2 .four .img {
    padding: 0;
    margin: 0 auto;
    background: #fff;
}

.introduce .model2 .four .img img {
    width: 100%;
    vertical-align: middle;
}

/*模式2单独*/
.introduce .model2 .four {
    background: #cea675;
    position: relative;
}

.introduce .model2 .four .text {
    background: #cea675;
    position: relative;
    text-align: left;
}

.introduce .model2 .four:nth-child(2n) .text:before {
    content: "";
    position: absolute;
    left: 99%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #cea675;
    border-bottom: 10px solid transparent;
    z-index: 9;
}

.introduce .model2 .four:nth-child(2n+1) .text:before {
    content: "";
    position: absolute;
    right: 99%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #cea675;
    border-bottom: 10px solid transparent;
}

.introduce .model2 .four .text .title {
    color: #5a281b;
    font: 700 14px "PingFang SC";
    margin-top: 27%;
}


.introduce .model2 .four .text i {
    border-bottom: 2px solid #693927;
    width: 22%;
    display: block;
    margin: 4px 0 6px 0;
}

.introduce .model2 .four .text p {
    color: #5a281b;
    font: 600 12px "PingFang SC";
/*    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
*/    line-height: 20px;
}

.introduce .model2 .four .text .details {
    position: absolute;
    width: 70px;
    height: 25px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #5a281b;
    margin-right: 5%;
    bottom: 17%;
    right: 5%;
    padding-left:3px;
}

.introduce .model2 .four .text .details a{
    display: block;
    font: 600 12px "PingFang SC";
    height: 25px;
    line-height: 24px;
    width: 100%;
    color: #5a281b;
}
/*产品介绍部分内容结束