.lianhua{
    width:100%;
}
.content {
    position: relative;
    top: 65px;
    background-size: cover;
    background-image: url("../image/bgt.jpg");
    padding-bottom:50px;
    overflow:hidden;
}


.content .banner {
    width:100%;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    position: relative;
    padding: 44% 0;
}

.row .pro_r {
    padding-right: 0;
    padding-left:0;
}

.row .pro_r .text-top {
    font: 800 15px "Microsoft Yahei";
    color: #cc5e18;
    line-height: 23px;
}

.row .pro_r .title {
    font-family: "Tahoma";
    font-size: 14px;
    line-height: 0;
    color: #5a281b;
    font-weight: 600;
}

.row .pro_r i {
    display: inline-block;
    border-bottom: 2px solid #f5a63a;
    width: 25%;
    display: block;
    margin: 15px 0 6px 0;
}

.row .pro_r p {
    text-indent: 25px;
    color: #5a281b;
    font-size: 12px;
    font-family: "PingFang SC";
    line-height: 20px;
    font-weight: 600;
/*    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
*/}


.lianhua .model .character{
    padding: 0 20px 10px 0;
    /*background:red;*/
    text-align: center;
}
.lianhua .model .character .text-top{
    height: 20px;
    line-height: 24px;
    margin-top:25px;
}

.lianhua .model .character i{
    width: 10%;
    margin: 0 auto 10px auto;
    margin-left:49%;
}

/* 发展历史时间轴轮播图 */


/* 模式4时间轴轮播图 */
.model{
    width: 100%;
}

.model .swiper-container {
    width: 100%;
    height:200px;
    /* height: 100%; */
  }
.model .swiper-slide {
    width:100%;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* height:150px; */
        background:url(../image/lianhua_bg.png) center no-repeat;
        background-size:cover;
        position:relative;
  }


  .model .centerbox{
      width: 90%;
      height:80%;
      margin: 0 auto;
      /* border:2px solid red; */
  }
  .centerbox .row{
      height:100%;
  }
  .model .centerbox .smallbox{
      /* height:50px;*/
       /* border:1px solid blue;  */
       height:50%;
       position:relative;
  }
  .model .centerbox .smallbox:nth-child(2n){
       border-bottom:1px solid #cc5e17;
  }
  .model .centerbox .smallbox:nth-child(2n+1){
    border-top:1px solid #cc5e17;
}
  .model .centerbox .smallbox:nth-child(2n+1){
      margin-top:79px;
  }

  .smallbox .circle{
    position: absolute;
    width:10px;
    height:10px;
    background:#cc5e17;
    border-radius:50%;
    left:50%;
    margin-left:-6px;
}
  .smallbox:nth-child(2n+1) .circle{
      top:0;
      margin-top:-6px;
  }
  .smallbox:nth-child(2n) .circle{
        bottom:0;
        margin-bottom:-6px;
}
  .smallbox .time{
      width:120%;
      text-align:center;
      font-size:12px;
      position:absolute;
      left:-5px;
      line-height:12px;
      height:14px;
      color:#cc5e17;
      font-size:"Microsoft YaHei";
  }
  .smallbox .time strong{
      font-size:16px;
  }
  .smallbox:nth-child(2n+1) .time{
    top:22px;
}
.smallbox:nth-child(2n) .time{
    top:46px;
}
  .smallbox .describe{
      height:40px;
      width:130%;
      position:absolute;
      font-size:12px;
      left:-8px;
      transform:scale(0.9);
      line-height:14px;
      color:#fff;
      /* padding:10px 0; */
      background:#f5a73b;
      font-family:"PingFang SC";
  }
  .smallbox .describe span{
      display:block;
      margin:7px auto;
  }
  .smallbox:nth-child(2n+1) .describe{
    top:42px;

  }
  .smallbox:nth-child(2n) .describe{
    top:-4px;
  }

  /* 上下箭头 */
  .smallbox:nth-child(2n+1) .describe i{
        position: absolute;
         top:-11px;
        width: 0;
         height: 0;
         border-left: 4px solid transparent;
         border-right: 4px solid transparent;
         border-bottom: 12px solid #f5a73b;
         left:37px;

     }

     .smallbox:nth-child(2n) .describe i{
         bottom:-11px;
         position: absolute;
             width: 0;
             height: 0;
             border-left: 4px solid transparent;
             border-right: 4px solid transparent;
            border-top: 12px solid #f5a73b;
            left:37px;
         }





  /* 左右按钮 */
  /* .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");

  } */
  /* .model4 .swiper-button-next::before,

  .model4 .swiper-button-prev::before{
      content:"";
      width:14px;
      height:14px;
      background:rgba(204,94,23,1);
      border-radius:50%;
      position: absolute;
      left:12px;
      top:15px;
      z-index:-3;
  } */
  .model .swiper-button-next,
  .model .swiper-container-rtl .swiper-button-prev {
      background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");
      /* background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important; */

      background-size:6px 44px;
      left: auto;
      /* position: relative; */
      position:absolute;
      z-index:999;
      width:5%;
  }

  .model .swiper-button-prev,
  .model .swiper-container-rtl .swiper-button-next {
      background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E");            right: -10px;
      /* background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;            right: -10px; */
      right: auto;
      background-size:6px 44px;
      width:5%;
  }


  .model .swiper-button-next::after,
  .model .swiper-container-rtl .swiper-button-prev::after{
      
  }
  .model .left_circle,
  .model .right_circle{
    width:14px;
    height:14px;
    background:rgba(204,94,23,1);
    border-radius:50%;
    position:absolute;
    z-index:999;
    top:50%;
    margin-top:-7px;
}
  .model .left_circle{
      left:3.3%;
      /* z-index:-2; */
  }
  .model .right_circle{
    right:3.3%;
    /* z-index:-2; */
}

/* 公司发展历史时间轴轮播图结束 */


/* 组织结构树开始 */
.tree{
    /* width:100%; */

}
.tree .row>div.col-xs-3{
    padding:7.5px;
}

.tree .row .box{
    text-align:center;
    width:100%;
    margin: 0 auto;
    border:1px solid #ccc;
    box-shadow: 3px 1px 10px 0 #aaa;
    position: relative;
    /* padding:10px 5px; */
    height:80px;
    padding:20% 2%;
}
.tree .box p{
    font:400 12px "MicrosoftYaHei";
    color:#5c5f23;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    margin-bottom:0;
}
.tree .box p.big{
    font-size:14px;
    font-family:"PingFang-SC";
    font-weight:700;
    /* line-height:16px; */
}
.tree .box .vertical_line{
    position: absolute;
    width:1px;
    height:30px;
    border-right:1px dashed #5a281b;
    bottom:-30px;
    left:50%;
}
.level_line{
    width:75%;
    height:1px;
    border-bottom:1px dashed #5a281b;
    margin:22px auto 10px auto;
}
.tree .center{
    background:url(../image/lianhua2.png) center no-repeat;
    background-size:cover;

    width: 25%;
    margin: 0 auto;
    padding:10px;
}
.tree .center img{
    width:100%;
    display: block;
}
.tree .bottom .box .vertical_line{
    top:-30px;
}
.tree .bottom .level_line{
    margin-bottom:20px;
    margin-top:10px;

}

/* 组织结构树结束 */